<div class="background">
  <div class="shapes_container">
    <div id="parallelogram-1">
    </div>
    <div id="parallelogram-2">
    </div>
    <div id="parallelogram-3">
    </div>
    <div id="parallelogram-4">
    </div>
    <div id="parallelogram-5">
    </div>
  </div>
</div>
