<div class="background-1">
  <div class="contact-title">
    <h1 id="stranger">Don’t be a stranger,</h1>
    <h1 id="subtext">just say hello.</h1>
  </div>

    <div class="form-container">
      <div class="description">
      </div>

      <div class="form">
      </div>


  </div>
</div>
