<div class="background">
  <div class="bounce-in-right">
        <%= image_tag("background.svg", id: "logo")%>
      </div>
  <div class="container">
    <div class="title">
      <h1>Hi,</h1>
      <h1>I'm Ivano,</h1>
      <h1>web developer.</h1>
    </div>
    <div class="subtitle">
      <h3>Front-End Developer / Rails / React</h3>
    </div>
  <a href="#" class="btn-home">CONTACT ME</a>
  </div>
</div>
