.background-1 {
  height: 100vh;
  width: 100vw;
  background-color: #252627;
  position: relative;
  color: #DDDDDD;
  display: flex;
}

.contact-title {
  margin-top: 14vh;
  margin-left: 14vw;
  position: absolute;
  width: 30vw;
  font-size: 2.6em;
}

#stranger {
  font-size: 40px;
}

#subtext {
  font-size: 40px;
}

.message p {
  font-size: 22px;
  color: #DDDDDD;
  width: 30vw;
  padding-top: 4vh;
  font-weight: 200;


}

// .form-container {
//   display: flex;
//   position: absolute;
//   margin-top: 30vh;
//   margin-left: 20vw;
//   margin-right: 20vw;
//   color: #DDDDDD;
// }
