.background-1 {
  height: 100vh;
  width: 100vw;
  background-color: #252627;
  position: relative;
  color: #DDDDDD;
}

.contact-title {
  margin-top: 14vh;
  margin-left: 14vw;
  position: absolute;
}

// .form-container {
//   display: flex;
//   position: absolute;
//   margin-top: 30vh;
//   margin-left: 20vw;
//   margin-right: 20vw;
//   color: #DDDDDD;
// }
