.shapes_container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#parallelogram-1 {
  width: 150px;
  height: 200px;
  transform: rotate(-30deg);
  background: #D6465D;
  position: absolute;
  bottom: -20px;
  left: 15vw;
  animation: mymove 3s ease;
  box-shadow: -16px 16px #96F6DA;
}

#parallelogram-2 {
  width: 150px;
  height: 350px;
  transform: rotate(-30deg);
  background: #D6465D;
  position: absolute;
  bottom: -20px;
  left: 30vw;
  animation: mymove 2.8s ease;
  box-shadow: -16px 16px #96F6DA;
}

#parallelogram-3 {
  width: 150px;
  height: 500px;
  transform: rotate(-30deg);
  background: #D6465D;
  position: absolute;
  bottom: -20px;
  left: 45vw;
  animation: mymove 2.6s ease;
  box-shadow: -16px 16px #96F6DA;
}

#parallelogram-4 {
  width: 150px;
  height: 650px;
  transform: rotate(-30deg);
  background: #D6465D;
  position: absolute;
  bottom: -20px;
  left: 60vw;
  animation: mymove 2.2s ease;
  box-shadow: -16px 16px #96F6DA;
}

#parallelogram-5 {
  width: 150px;
  height: 800px;
  transform: rotate(-30deg);
  background: #D6465D;
  position: absolute;
  bottom: -20px;
  left: 75vw;
  animation: mymove 2s ease;
  box-shadow: -16px 16px #96F6DA;
}

@keyframes mymove {
  0% {
    box-shadow: 0 0 #96F6DA, 0 0 #96F6DA, 0 0 #96F6DA, 0 0 #96F6DA;
    transform: translateY(0px) translateX(0px);
  }

  50% {
    text-shadow: 0 0 #96F6DA, 0 0 #96F6DA, 0 0 #96F6DA, 0 0 #96F6DA;
    transform: translateY(-150px) translateX(-100px) rotate(-30deg);
  }

  100% {
    text-shadow: -4 4 #96F6DA, -8 8 #96F6DA, -12 12 #96F6DA, -16 16 #96F6DA;
    transform: translateY(-0px) translateX(0px) rotate(-30deg);
  }
}
























